@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}
a {
    color: #000;
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.body-inner {
    width: 1076px;
    margin: auto;
}


#header-banner {
    width: 100%;
    height: 72px;
    background-color: #20202d;
    text-align: center;
}
#header-banner a {
    display: flex;
    justify-content: center;
    line-height: 72px;
}
#header-banner a p {
    color: #b1b1b9;
    font-size: 20px;
}
#header-banner a p strong {
    color: #fff;
    font-size: 20px;
}
#header-banner a img {
    width: 26px;
    height: 26px;
    margin-top: 23px;
    margin-left: 10px;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ececef;
}
.main-logo {
    margin-left: 42px;
}
.main-logo a {
    display: block;
}
.main-logo a img {
    width: 130px;
    height: 48px;
}
header nav ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}
header nav ul li a {
    font-weight: 700;
    font-size: 20px;
    color: #111;
}
.header-right {
    margin-right: 42px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.admin-button {
    width: 104px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    font-weight: 700;
    background-color: #fff;
}
.admin-button:nth-child(1) {
    color: #0b0d10;
    border: 1px solid #d6d7dd;
}
.admin-button:nth-child(2) {
    color: #fff;
    background-color: #2417ce;
}

#main-slide {
    width: 100%;
    height: 580px;
    position: relative;
}
.swiper-button-next, .swiper-button-prev{
    position: absolute;
    top: auto;
    bottom: 0;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px;
    font-weight: 900;
    margin-top: 15px;
    color: #0b0d10;
}
.swiper-button-prev{
    left: 0px;
    right: 120px;
    margin: auto;
}
.swiper-button-next{
    left: 120px;
    right: 0px;
    margin: auto;
}
.swiper-pagination-bullet {
    background: #0b0d10;
}

#content1 {
    width: 100%;
    height: 780px;
    margin-top: 120px;
}
.content1-title {
    display: flex;
}
#content1 > .content1-title img {
    height: 100%;
    margin-right: 20px;
}
#content1 > .content1-title h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
}
.content1-inner {
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-between;
}
.content1-inner:nth-child(2) {
    margin-top: 20px;
}
.content1-inner:nth-child(3) {
    margin-top: 20px;
}
.content1-inner .content1-box {
    width: 340px;
    height: 340px;
    border-radius: 34px;
    position: relative;
}
.content1-inner:nth-child(2) .content1-box:nth-child(1) {
    background-color: #f0f2f6;
}
.content1-inner:nth-child(2) .content1-box:nth-child(2) {
    background-color: #e4edff;
}
.content1-inner:nth-child(2) .content1-box:nth-child(3) {
    background-color: #2417ce;
}
.content1-inner:nth-child(3) .content1-box:nth-child(1) {
    width: 708px;
    height: 340px;
    background-color: #22c789;
}
.content1-inner:nth-child(3) .content1-box:nth-child(2) {
    background-color: #f0f2f6;
}
.content1-box {
    overflow: hidden;
}
.content1-box .content1-title {
    margin-left: 30px;
    margin-top: 38px;
}
.content1-box .content1-title {
    height: 24px;
    align-items: center;
}
.content1-inner:nth-child(2) .content1-box:nth-child(1) .content1-title img {
    height: 13px;
}
.content1-inner:nth-child(2) .content1-box:nth-child(1) ul {
    width: 520px;
    display: flex;
    gap: 10px;
    margin-left: -90px;
    margin-top: 22px;
}
.content1-inner:nth-child(2) .content1-box:nth-child(1) ul li{
    width: 130px;
    height: 144px;
    background-color: #fff;
    border-radius: 26px;
    text-align: center;
}
.content1-inner:nth-child(2) .content1-box:nth-child(1) ul li:nth-child(2) > img {
    height: 39px;
    margin-top: 18px;
}
.content1-inner:nth-child(2) .content1-box:nth-child(1) ul li:nth-child(3) > img {
    height: 44px;
    margin-top: 13px;
}
.content1-inner:nth-child(2) .content1-box:nth-child(1) ul li p {
    font-size: 15px;
    font-weight: 600;
    margin-top: 14px;
}
.test-button {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #0b0d10;
    margin: auto;
    margin-top: 10px;
    line-height: 22px;
}
.test-button > img {
    width: 12px;
    height: 9px;
    transform: rotate(-45deg);
}
.content1-inner:nth-child(2) .content1-box:nth-child(2) .content1-title img {
    height: 24px;
}
.content1-inner:nth-child(2) .content1-box:nth-child(2) > img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25px;

}
.content1-inner:nth-child(2) .content1-box:nth-child(3) .content1-title img {
    height: 24px;
}
#music {
    width: 280px;
    height: 55px;
    background-color: #5649fa;
    border-radius: 30px;
    margin: 60px auto;
    position: relative;
}
#music img:nth-child(1) {
    left: 10px;
    bottom: 0;
    position: absolute;
}
#music img:nth-child(2) {
    top: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
    position: absolute;
}
.content1-inner:nth-child(3) .content1-box:nth-child(1) .content1-title img {
    height: 21px;
}
.content1-inner:nth-child(3) .content1-box:nth-child(1) ul {
    width: 100%;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 70px;
}
.content1-inner:nth-child(3) .content1-box:nth-child(1) > img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.content1-inner:nth-child(3) .content1-box:nth-child(2) .content1-title img {
    height: 18px;
}
.content1-inner:nth-child(3) .content1-box:nth-child(2) > img {
position: absolute;
left: 0;
right: 0;
margin: auto;
bottom: 10px;
}
.content1-box .content1-title h3 {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    margin-left: 15px;
}
.content1-box > p {
    margin-top: 26px;
    margin-left: 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
}
.content1-button {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    border: 1px solid #e1e2e9;
    background-color: #fff;
    text-align: center;
    line-height: 58px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#content2 {
    width: 100%;
    height: 130px;
    margin-top: 100px;
    display: flex;
    overflow: hidden;
}
.content2-rolling {
    display: flex;
    animation: rolling 30s linear infinite;
}
@keyframes rolling {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}
.content2-rolling li {
    border-radius: 70px;
    height: 130px;
    line-height: 130px;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}
.content2-rolling li p {
    margin-left: 53px;
}
.content2-rolling li:nth-child(1) p {
    margin-left: 0px;
}
.content2-img {
    display: flex;
    gap: 8px;
    margin-right: 53px;
}
.content2-img img {
    width: 62px;
    height: 62px;
}
.content2-rolling li:nth-child(1) {
    width: 200px;
    text-align: center;
    color: #fff;
    background-color: #2417ce;
}
.content2-rolling li:nth-child(1) p {
    width: 100%;
    text-align: center;
}
.content2-rolling li:nth-child(2) {
    width: 538px;
    background-color: #2417ce;
    color: #fff;
}
.content2-rolling li:nth-child(3) {
    width: 130px;
    background-color: #1ab0de;
}
.content2-rolling li:nth-child(3) img {
    width: 93px;
    height: 72px;
    margin: auto;
}
.content2-rolling li:nth-child(4) {
    width: 740px;
    background: linear-gradient(90deg,#64f1fe,#20b4e4 70%);
}
.content2-rolling li:nth-child(5) {
    width: 130px;
}
.content2-rolling li:nth-child(5) img {
    width: 100%;
    height: 100%;
}
.content2-rolling li:nth-child(6) {
    width: 600px;
    background: linear-gradient(90deg,#ee9262,#ee8046 70%);
}

.content {
    width: 100%;
    height: 570px;
    margin-top: 100px;
}
.content-title {
    width: 90%;
    height: 52px;
    background-color: #fff;
    display: flex;
    gap: 20px;
    justify-content: start;
}
.content-title img {
    width: 50px;
    height: 50px;
}
.content-title h2 {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Pretendard-Regular';
    line-height: 52px;
}
.content ul {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.content ul li {
    width: 340px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.content-box {
    width: 340px;
    height: 180px;
    background-color: #f3f3f3;
    position: relative;
}
.content-box:hover {
    background-color: #2417ce;
}
.content-box:hover p , .content-box:hover h3 , .content-box:hover .content-date p {
    color: #fff;
}
.content-date {
    display: flex;
    gap: 10px;
    padding-top: 28px;
    padding-left: 28px;
}
.all-content .content-date p:nth-child(1) {
    width: 46px;
    height: 24px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #555;
}

.life-content .body-inner ul li .content-box .content-date1 p:nth-child(2) {
    width: 46px;
    height: 24px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #555;
}
.content-date p:last-child {
    font-size: 14px;
    color: #999;
    line-height: 24px;
}
.content-box h3 {
    margin-top: 15px;
    padding-left: 28px;
    font-size: 24px;
    margin-bottom: 10px;
}
.content-box > p {
    padding-left: 28px;
    font-size: 14px;
    color: #555;
    font-weight: 400;
}
.content-emoji {
    display: flex;
    gap: 15px;
    position: absolute;
    left: 28px;
    bottom: 22px;
}
.content-emoji-box {
    display: flex;
    gap: 5px;
    color: #4e596b;
}
.content ul li .content-img {
    width: 340px;
    height: 220px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.content ul li .content-img {
    background-size: cover;
    background-position: center center;
    position: relative;
}
.event-content ul li:nth-child(1) .content-img {
    background-image: url(../img/main-img/event1.png);
}
.event-content ul li:nth-child(2) .content-img {
    background-image: url(../img/main-img/event2.png);
}
.event-content ul li:nth-child(3) .content-img {
    background-image: url(../img/main-img/event3.png);
}
.life-content ul li:nth-child(1) .content-img {
    background-image: url(../img/main-img/life1.jpg);
}
.life-content ul li:nth-child(2) .content-img {
    background-image: url(../img/main-img/life2.jpg);
}
.life-content ul li:nth-child(3) .content-img {
    background-image: url(../img/main-img/life3.jpg);
}
.pick-content ul li:nth-child(1) .content-img {
    background-image: url(../img/main-img/pick1.png);
}
.pick-content ul li:nth-child(2) .content-img {
    background-image: url(../img/main-img/pick2.png);
}
.pick-content ul li:nth-child(3) .content-img {
    background-image: url(../img/main-img/pick3.png);
}
.content-img-bg {
    background-color: rgba(0, 0, 0, 0.5);
}
.content ul li .content-img .content-img-bg > p {
    width: 340px;
    color: #fff;
    text-align: center;
    line-height: 220px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.content-button {
    width: 320px;
    height: 60px;
    border-radius: 30px;
    background-color: #f0f2f6;
    margin: auto;
    margin-top: 50px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 700;
}
.content-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.content-button-bg {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #000;
    background-image: url(../img/main-img/btn_right.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.notice-content {
    width: 100%;
    height: 375px;
}
.notice-box-inner {
    width: 100%;
    height: 305px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 40px;
}
.notice-box {
    width: 460px;
    background-color: #f3f3f3;
    padding: 40px 30px;
    border-radius: 20px;
}
.notice-box-title {
    display: flex;
    justify-content: space-between;
}
.notice-box-title h3 {
    font-size: 18px;
    color: #0b0d10;
    font-weight: 500;
}
.notice-box a {
    width: 100%;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
}
.notice-box a p {
    font-size: 15px;
    color: #393f49;
    font-weight: 400;
    margin-top: 20px;
}
.notice-content-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice-content-title a {
    display: block;
    color:aj
    cursob wa adawa 
     as
     d aliceblue ;
}
